@font-face {
  font-family: Shantell Sans;
  src: url('@/assets/fonts/ShantellSans[BNCE\,INFM\,SPAC\,ital\,wght].woff2');
}

:root {
  --goose-background: #0a090c;
  --goose-text: #fff;
  --goose-highlight: #2ac49d;
  --rank-enthusiast: #ff6600;
  --rank-admirer: #ff9939;
  --rank-fan: #ffca39;
  --rank-superfan: #93ff18;
  --rank-friend: #00c3ff;
  --rank-bestie: #c300ff;
  --rank-protector: linear-gradient(in hsl to right, #8f66ff, #ff85f5 , #ff0062, #ad66ff, #ff85f5);
  --rank-guardian: linear-gradient(in hsl to right, #8f66ff, #39b0ff , #33ff33, #ff0062, #8f66ff, #39b0ff);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  background: transparent;
  scroll-behavior: smooth;

  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  flex: 1;
  height: 100%;

  border-radius: 2px;
  background: var(--goose-background);
  color: var(--goose-text);

  font-family: Shantell Sans, Inter, sans-serif;
  line-height: 1.5;

  image-rendering: pixelated;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;

  #app {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
