@keyframes rank-blinkglow {
  0%, 50%, 100% {
    filter: brightness(100%)
  }
  25% {
    filter: brightness(150%)
  }
  75% {
    filter: brightness(75%)
  }
}
@keyframes rank-gradientloop {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

